{% include "header.html" %}

<section class="masthead py-5 mt-0">
  <div class="container px-5 my-5">
    <div class="row gx-5 align-items-center">
      <div class="col-lg-6 col-sm-12">
        <img class="img-fluid img-thumbnail rounded-circle"
             src="https://res.cloudinary.com/dciu6ydlb/image/upload/v1786518171/display_picture_culzuj.jpg"
             alt="Display picture">
      </div>
      <div class="col-lg-6 col-sm-12">
        <div class="mb-5 mb-lg-0 text-lg-start align-items-center">
          <h1 class="display-1 lh-1 mb-3 mt-5 fw-bolder font-monospace d-flex justify-content-center">Hello</h1>
            <p class="m-2 fs-2 fw-semibold d-flex justify-content-center">A bit about me</p>
            <p class="lead fw-normal text-muted mb-5 d-flex justify-content-between">Here's a Python Developer and Data Analyst/Scientist who takes
              a dataset and turn them into a working code. Every dataset has some hidden patterns and I have tasked myself with the
              responsibility of uncovering them. With a hot cup of chocolate ☕️, I can get to speak the languages of python and data. 😁</p>
            <div class="d-flex align-items-center circle-container">
              <a class="me-lg-3 mb-4 mb-lg-0 fs-5 mx-auto clickable-circle text-decoration-none click-project" href="{{ url_for('projects') }}">Projects</a>
              <a class="me-lg-3 mb-4 mb-lg-0 fs-5 mx-auto clickable-circle text-decoration-none click-resume" href="{{ url_for('resume') }}">Resume</a>
              <a class="me-lg-3 mb-4 mb-lg-0 fs-5 mx-auto clickable-circle text-decoration-none click-contact" href="{{ url_for('contact') }}">Contact</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include "footer.html" %}