{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{% include "header.html" %}
  <!-- Header-->
  <header class="masthead low_contrast py-5"
          style="background-image: url('{{ url_for('static', filename='assets/image/background_images/contact_bg.png') }}')"
  >
    <div class="container px-3 col-lg col-sm">
      <div class="container px-3">
        <div class="row align-items-center mt-5 mb-0">
          <div class="col-4 col-md-3">
            <div class="w-100 p-3">
              <img class="img-fluid rounded-circle"
                src="{{ profile_pic_url }}"
                alt="Profile picture"
              >
            </div>
          </div>
          <div class="col-8 col-lg-8 col-sm-8">
            <div class="p-1 w-100 text-center">
              <div class="site-heading">
                <h1>Contact Me</h1>
                <span class="subheading text-light fs-3">Get in touch │ Connect │ Collaborate</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
<!-- ✅ FLASHED MESSAGE -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="container mt-4">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
<!-- Main Content-->
<section class="py-5 border-bottom">
  <main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7 fs-5">
        <p>Want to get in touch? Fill out the form below to send me a message and
          I will get back to you as soon as possible!
        </p>
        <div class="my-5">
          <div class="form-floating">
            {{ render_form(form, novalidate=True, button_map={"submit": "secondary"}) }}

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
</section>


{% include "footer.html" %}
{% endblock %}